<div class="body">

        <div class="ibope">
            HIBOPE
        </div>

        <div class="position">
        
            <div class="icone">
                <img src="https://www.svgrepo.com/show/108452/gold-medal.svg">
            </div>

            <div class="primeiro texto">
                Palavra
            </div>

            <div class="primeiro-porcentagem texto-porcentagem">
                100%
            </div>
    
            <div class="icone">
                <img src="https://www.svgrepo.com/show/29761/second.svg">
            </div>

            <div class="segundo texto">
                Palavra
            </div>

            <div class="segundo-porcentagem texto-porcentagem">
                100%
            </div>
    
            <div class="icone">
                <img src="https://www.svgrepo.com/show/21668/third.svg">
            </div>

            <div class="terceiro texto">
                Palavra
            </div>

            <div class="terceiro-porcentagem texto-porcentagem">
                100%
            </div>
    
            <div class="icone">
                <img src="https://www.svgrepo.com/show/41041/fourth.svg">
            </div>

            <div class="quarto texto">
                Palavra
            </div>

            <div class="quarto-porcentagem texto-porcentagem">
                100%
            </div>
    
        </div>

</div>