<div class="body">

    <div class="icone">
        <img src="https://www.svgrepo.com/show/421045/conference-live-video.svg">
    </div>

    <div class="faixa-hetaria">
        18+
    </div>

    <div class="barra">
        |
    </div>

    <div class="icone">
        <img src="https://www.svgrepo.com/show/46900/clock.svg">
    </div>

    <div class="info">
        <div>
            <span id="horas">00</span>
        </div>

        <div class="dois-pontos">
            :
        </div>

        <div>
            <span id="minutos">00</span>
        </div>
    </div>

    <div class="icone">
        <img src="https://www.svgrepo.com/show/35011/calendar.svg">
    </div>

    <div class="info">
        <div>
            <span id="dia">00</span>
        </div>

        <div class="traco">
            -
        </div>

        <div>
            <span id="mes">00</span>
        </div>

        <div class="traco">
            -
        </div>

        <div>
            <span id="ano">0000</span>
        </div>
    </div>
    
    <div class="icone">
        <img src="https://www.svgrepo.com/show/141727/heart.svg">
    </div>

    <div class="info">
                      
    </div>

    <div class="barra">
        |
    </div>

    <div class="aviso">

        <div class="barra">
            |
        </div>

        <div class="icone">
            <img src="https://www.svgrepo.com/show/219164/danger.svg">
        </div>

        <div class="info">
            Aposte com moderação
        </div>
        
    </div>

</div>
